.head {
    padding: 0 30px;
    height: 100px;
    width: 100%;
    display: flex;
    position: static;
    background-color: cadetblue;
    box-sizing: border-box;

}

.logo{
    background-image: url("./images/weather-icon-png.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}
.links {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    list-style-type: none;
}

.news{
    color: red;
    font-size: 60px;
}

.name{
    color: red;
    font-size: 60px;
}